
<section style="background-image: url('/assets/about/slide.jpg');">
    <div class="page-header" style="opacity: 60%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>About Us</h2>
                </div>
                <div class="col-12">
                    <!-- <a href="">Home</a> -->
                    <a href="">About Our Team</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="assets/about/abou.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Learn More About Us</p>
                    <h2>9 Years Experience</h2>
                </div>
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Nailer Team</p>
            <h2>Meet Our Hair Cut Expert Barber</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/about/user.png" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Landry Fotso</h2>
                        <p>Nails Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/about/user.png" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Landry Fotso</h2>
                        <p>Nails Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/about/user.png" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Landry Fotso</h2>
                        <p>Nails Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/about/user.png" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Landry Fotso</h2>
                        <p>Nails Expert</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
