<footer class="footer" style="text-align: center; background-color: #F3EDE8;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 p-5">
                <ul>
                    <li>
                        <div class="footer__label py-4" style="color: gray;">
                            Support
                        </div>
                    </li>
                    <li>
                        <a href="/pages/faq">F.A.Q.</a>
                    </li>
                    <li>
                        <a href="/pages/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/pages/terms-and-conditions">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="/pages/accessibility">Accessibility</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 py-5 px-0" >
                <ul class="px-5" style="border-right: 1px solid black; border-left: 1px solid black;">
                    <li>
                        <div class="footer__label py-4" style="color: gray;">
                            Follow us
                        </div>
                    </li>
                    <li>
                        <a href="/pages/faq">Instagram</a>
                    </li>
                    <li>
                        <!-- <a href="/pages/privacy-policy">Pinterest</a> -->
                    </li>
                    <li>
                        <a href="/pages/terms-and-conditions">Facebook</a>
                    </li>
                    <li>
                        <a href="/pages/accessibility">Newsletter</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-sm-4 p-5">
                <ul>
                    <li>
                        <div class="footer__label py-4" style="color: gray;">
                            Paintbox
                        </div>
                    </li>
                    <li>
                        <a href="/pages/faq">Our Studio</a>
                    </li>
                    <li>
                        <a href="/pages/privacy-policy">Careers</a>
                    </li>
                    <li>
                        <a href="/pages/terms-and-conditions">Press</a>
                    </li>
                    <li>
                        <a href="/pages/accessibility">Contact Us</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>